* {
    background-color: #a8eeff;
}

h1 {
    color: #527680;
    text-transform: uppercase;
    font-family: "Prompt";
    font-size: 35px;
    text-align: center;
}

p {
    text-align: justify;
    text-align: center;
}

h2 {
    color: #AA9989;
}

/*Seletor de ID*/
#Links {
    color: #475fff;
}

/*Seletor de Classe*/
.paragrafos {
    color:darkslategray;
}

section > a {
    color: #475fff;
}