* {
    background-color: #a8eeff;
}

h1 {
    color: #527680;
    text-transform: uppercase;
    font-family: "Prompt";
    font-size: 35px;
    text-align: center;
}

p {
    text-align: justify;
    text-align: center;
}

h2 {
    color: #AA9989;
}

ul {
    list-style-type: square;
}

img {
    width: 40%;
}

/*Seletor de ID*/
#Links {
    color: #475fff;
    border: 2px dashed #000000;
    padding: 5px;
    margin: 2%;
    text-align: center;
}

/*Seletor de Classe*/
.paragrafos {
    color:darkslategray;
}

section > a {
    color: #475fff;
}